#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 420px;
    width: 420px;
    margin: auto;
    background-color: black;

    .cell {
        position: relative;
        height: 48px;
        width: 48px;
        margin-top: 2px;
        background-color: green;

        .disc {
            position: absolute;
            height: 44px;
            width: 44px;
            margin: 2px;
            border-radius: 50%;
            background-color: black;
        }
    }

}

#turn {
    text-align: center;
    font-size: larger;
    font-weight: 800;
}

.button {
    text-align: center;

    button {
        height: 2em;
        width: 10em;
        font-size: large;
    }
}